{% extends "vault/base.html" %}
{% block title %}Password Cracker Simulator{% endblock %}
{% block content %}
<h2>Password Cracker Simulator</h2>
<form method="get" novalidate class="mb-3">
  <input type="text" name="password" placeholder="Enter password to estimate crack time" value="{{ request.GET.password }}" class="form-control" />
  <button type="submit" class="btn btn-primary mt-2">Estimate</button>
</form>
{% if time_estimate %}
  <p><b>Estimated cracking time:</b> {{ time_estimate }}</p>
{% endif %}
{% endblock %}